.diet {
  margin-bottom: 27px;

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }

}

.diet__list {
  @include list-reset;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 80px;
  }
}

.diet__item {
  display: flex;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.diet__item + .diet__item {
  margin-top: 20px;

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}
