.form__title {
  font-size: 24px;
  line-height: 26px;
  color: $basic-black;
  margin-bottom: 35px;
}

.form textarea {
  font-size: 16px;
  text-transform: uppercase;
  color: $special-dark-grey;
  padding: 9px 12px 9px 15px;
}

.form__radio-list {
  margin: 0;
  padding: 22px 23px 19px 20px;
}
