.selection {
  padding: 27px 20px 32px 20px;
}

.selection__title {
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
  margin-bottom: 37px;
}

.selection__description {
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  margin-bottom: 39px;
}
